.MuiLink-underlineHover:hover {
  text-decoration: none !important;
}

.MuiTabs-indicator {
  color: #fec134 !important;
  background-color: #fec134 !important;
}

.MuiFormHelperText-root {
  color: red !important;
}

.formBox {
  width: 50%;
}

.formHead {
  margin-bottom: 20px;
}
